@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Montserrat:wght@400;700;800&display=swap');
html,
body,
.bg-image {
  min-height: 500px;
  background-image: url(../Images/Headerimages/bgeng1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body{
    font-family: 'Lato', sans-serif;
    background-color:transparent;
}
.header {
  width: 100%;
}
.h1class
{
  font-size:3rem !important; 
}
.about-icon {
  width: 60px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.work-icon {
  width: 128px;
  height: 111px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact-icon {
  width: 80px;
  height: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.servive-block-green1 {
  background: #50b2a2; /** #50b2a2;**/
  min-height: 150px;

  margin-bottom: 30px;
}
.servive-block-green2 {
  background: #7395ae; /**#50b28a;**/
  height: 150px;

  min-height: 150px;

  margin-bottom: 30px;
}
.service-block-lightblue {
  background: #0fa2cb;
  margin-bottom: 30px;
  padding: 10px;
}
.service-block-pink {
  background: #f36c70; /*#d8457a;*/
  min-height: 150px;

  margin-bottom: 30px;
}
.servive-block a,
.middle-content a,
.right-content a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.footer {
  /*#01273a;*/
  background: #01273a;
  color: white;
  opacity: 0.8;
  text-align: right;

  position: fixed;
  bottom: 0;
  width: 100%;
}
.fa {
  padding: 8px !important;
  font-size: 30px !important;
  width: 50px !important;
  text-align: center !important;
  text-decoration: none !important;
  margin: 5px 2px !important;
}

.fa-facebook {
  background: #3b5998 !important;
  color: white !important;
  margin-right: 1rem;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

footer {
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .h1class {
    text-align: center !important;
  }

  .main {
    padding-top: 0px !important;
  }
  .service-block-lightblue,
  .service-block-pink {
    min-height: 120px;
  }
  .servive-block a,
  .middle-content a,
  .right-content a {
    font-size: 16px !important;
    font-weight:800;
  }
  .social {
    text-align: right !important;
  }
  .container {
    width: 95% !important;
    margin-right: 1rem;
  }
  .about-icon {
    width: 60px;
    height: 55px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .work-icon {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-icon {
    width: 60px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .service-block-pink {
    margin-bottom: 75px !important;
  }
  .footer {
    font-size: 0.75rem;
    font-weight:600;
    text-align: center;
  }
  h1 {
    font-size: 1.2rem !important;
    font-weight:800;
  }
  .servive-block-green1,
  .servive-block-green2 {
    width: 162px;
    height: 120px;
    min-height: 120px !important;
  }
  .fa
  {
      width:40px !important;
      font-size:25px !important;
  }
  /* Styles */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .ipad-portrait {
    color: red;
  } 
  /* your css rules for ipad portrait */
  .mt-3
  {
    margin-top:5rem !important;
  }
  .bg-image {
    background-image: url(assets/images/homepage/bgeng1.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
  .contact-icon
  {
    width: 119px;
    height: 107px;
    margin-top: 30px;
    margin-bottom: 10px;
}
   
  .main
  {
    margin-top:1.25rem !important;
  }
  .h1class {
    text-align: center !important;
    font-size: 2.75rem;
    padding: 1rem;
    font-weight:800;
  }
  .servive-block a, .middle-content a, .right-content a {
    font-size: 30px !important;
    font-weight:bold;
}
  .about-icon {
    width: 120px;
    height: 110px;
  }
  .footer {
    font-size: 1.75rem;
  }
  .servive-block a,
  .middle-content a,
  .right-content a {
    font-size: 25px !important;
  }
  .servive-block-green1,
  .servive-block-green2 ,.service-block-lightblue,.service-block-pink{
     
    min-height: 200px !important;
  }
}
