/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@100;300;400;700&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Fira Sans', sans-serif;
  }
  @keyframes loaderpulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  @keyframes loaderspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes loaderspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  #pre-load {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
  }
  .loader .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 5px solid #ebebec;
    border-radius: 50%;
  }
  .loader .loader-container:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-top: 4px solid #f00c46;
    border-radius: 50%;
    animation: loaderspin 1.8s infinite ease-in-out;
    -webkit-animation: loaderspin 1.8s infinite ease-in-out;
  }
  .loader .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    text-align: center;
  }
  .loader .loader-icon img {
    animation: loaderpulse alternate 900ms infinite;
    width: 50px;
  }
  .color_fa
  {
    color: #e89999;
  }
  
  /****TOP bar css****/
  .top-bar {
    /* background-color: #020913; */
    /* background-color:#0a1e34; */
    background-color:#00243c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }
  .top-bar::before {
    content: "";
    height: 10%;
    width: 53%;
    /* #858789;*/
    /* background: #858789; */
    background:#858789;
    position: absolute;
    top: 0;
    left: -20px;
    transform: skew(-25deg);
  }
  .top-bar ul,
  .social-icons ul {
    list-style: none;
    margin-bottom: 1px !important;
  }
  
  .top-bar ul li,
  .social-icons li {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    line-height: 50px;
    font-weight: 500;
    /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
    margin-right: 20px;
    padding-right: 20px;
  }
  
  .top-bar ul li a,
  .social-icons a {
    color: #ffffff;
    font-size: 14px;
  }
  .top-bar1 .fas
  {
    font-size:20px;
  }
  /***navigation***/
  /* .navbar {
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  } */
  
  #navbarNav {
    justify-content: space-between !important;
  }
  
  .nav-link {
    /* width: 25%; */
  
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
  }
  .active {
    color: #d83030;
}
  .navbar ul li a {
    color: #333;
  }
  .navbar.sticky ul.navbar-nav li>a {color:#FFF !important;}
 .navbar ul.navbar-nav li>a:hover {color:#d83030 !important;}
  .navbar ul li a:hover  {
    color: #d83030;
  }
  .navbar ul li > a.active-nav {
    color: #d83030;
  }
  .navbar ul li > a.active-nav::after  {
    width: 60%;
    background: #d83030;
  }
  .navbar ul li > a:hover::after, li > a.active-nav::after {
    width: 60%;
    background: #d83030;
  }
  .bg-menucolor {
    /* background-color: #020913; */
    background-color:#0a1e34;
    color: white;
  }
  .navbar.bg-menucolor ul.navbar-nav li > a {
    color: #fff;
  }
  .bar {
    padding: 16px 13px 16px;
    background: transparent;
    max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 2px; */
    padding-right: 0;
    margin-right: -4px;
  }
   
  
  .dot {
    height: 5px;
    width: 5px;
    display: block;
    background: #bb0b0b;
    border-radius: 50%;
    transition: none;
    list-style: none;
    transition: all 0.3s ease;
    margin: 2px 3px;
  }
  .dot1 {
    height: 5px;
    width: 5px;
    display: block;
    background: white;
    border-radius: 50%;
    transition: none;
    list-style: none;
    transition: all 0.3s ease;
    margin: 2px 3px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    color:white;
  }
  /****banner ***/
  .BannerSection
  {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
  }
  .overlay {
    height: 80%;
    width: 100%;
    left:0;
    top:20%;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    /* background: linear-gradient(#f6f2f2, #d9d9d9); */
    background: linear-gradient(#ADA996,#F2F2F2,#DBDBDB, #EAEAEA);
  }
  .banner-content {
      font-family:'Fira Sans';
    position: absolute;
     z-index:1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
   
}
 .banner-content h1{
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
    font-weight:700;
    font-size: 60px !important;
    color:#ddd;
    
    /* color: rgb(3, 46, 66); */
    
 }
 .gradient-text {
  background-image: linear-gradient(30deg, #5c3131, #333333) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}
 .banner-content h1 span

 {
  margin-top:20px;
  background:rgba(0, 0, 0, 0.6);
 }
.img-content img {
    width:100%; 
    height:100vh;
    position: relative;
     
}
/*****about section ***/
.fa-parking{    padding: 19px;
  font-size: 30px;}
.about1
{
    padding-top:100px;
}
aboutsection1
{
  margin:20px 0px;
}
.about-content
{
    margin: 0 73px 0 0;
}
.sub-title span:after {
    width: 25px;
    background: #d83030;
}
.sub-title
{
    color: #d83030;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 9px;
    text-align: left;
}
.sub-title span{
    display: inline-block;
    position: relative;
}
.sub-title span:after
{
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 25px;
    height: 2px;
    margin-left:10px
     
}
.sub-title span:after {
    width: 25px;
    background: #d83030;
}
.title-desc 
{
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}
.imgservice img
{
  width:31px;
  height:32px;
}
.abttitle .col-lg-4
{
  padding-right:0px !important;
  padding-left:0px !important;
}
.div-serv  
{
  margin-top:20px;
  margin-bottom:20px;
}
#owl-demo
{
  margin:50px 0px 20px 30px;
  padding:30px 0px 10px 30px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 50%;
  height: 90px;
}
.about
{
  /* background:url("/Images/Pages/aboutsec11.jpg"); */
  background-position: top center;
  background-repeat: repeat-y;
  background-size:100%;
  
   
}
.containersection
{
  padding:70px;
}
.containersection img
{
  vertical-align: middle;
    display: inline-block;
    height:450px;
    width:450px;
}
.Aboutsection .title-heading 
{
  color:#333;
  font-family: Fira Sans;
  font-style: normal !important;
  font-weight: 700;
}
.Aboutsection , .title-desc
{
  color:#5d5d5d;
}
.divider
{
  padding-top:15px;
  padding-bottom: 15px;
}
 
hr { background-color: #bbb; height: 1px; border: 0; }
.containersection p{
  color: #5d5d5d;
    line-height: 30px
}
.services
{
  padding:70px 0px 40px 0px;
}
.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}
.card:hover {
  transform: scale(1.01);
}
.card-title,.card-text
{
  padding-left:20px;
}
.card-text{
  line-height:27px;
  justify-content: left;
}
a.btnclass 
{
  color:#333 !important;
}
/****team section ***/
.team
{
  padding-bottom:50px;
   
   
}
 .borderclass
 {
   
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
.borderclass img
{
  padding:10px;
  height:246px;
}
 
.share-icon span
{
  border-color: #fff !important;
    background-color: #d83030;
    display: block;
    position: absolute;
    top: 206px;
    right: 71px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    line-height: 39px;
    text-align: center;
    font-size: 12px;
    border: 4px solid;
    z-index: 3;
}
.share-icon span i
{
  color:white;
}
.borderclass:hover + .team-social1 {
  display: block;
}
 
.fa-share-alt
{
font-size:15px;
padding:10px;
}
.team-social1
{
  display: none;
    position: absolute;
    bottom: 226px;
    right: 73px;
    z-index: 2;
}
.team-social1 ul
{
  position:absolute;
  right:0;
  background-color: rgba(0,0,0,.7);
   width:45px;
   padding-top: 21px;
    padding-bottom: 26px;
    border-radius: 45px 45px 0 0;
}
.team-social1 li  
{
  list-style: none;
  display:block;
  margin:0 0 5px -38px;
  float:none;
}
.team-social1 li a
{
  text-decoration:none;
  width: 45px;
    height: 30px;
    line-height: 30px;
    display: block;
    position: relative;
    z-index:1;
    cursor:pointer;
}
/***footer***/
 
/* Subscribe me on Youtube
https://bit.ly/3m9avif
*/

/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  margin-top:20px;padding: 50px 50px 0px 50px;  background: #252525;margin:auto;}
footer ul{  padding-left: 0;  list-style: none;}
footer p{font-size:12px;line-height:25px;text-align:left;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding:0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #e89999;}
.widget li a:hover{ color: #e89999;}
.widget-title {margin-bottom: 20px; text-align: left;}
.widget-title span { background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}
.widget p a {color: #e89999;}
.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 5px;}
ul.social-footer2 li a:hover {background-color:#e89999;}
ul.social-footer2 li a {display: block; height:25px;width: 30px;text-align: center;}
 
.btn:hover, .btn:focus, .btn.active {background: #e89999;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
 footer{
  padding: 50px 0px 0px 0px;
 }

 /***counter section ***/
 .counter-area
 {
  padding: 27px 15px 25px;
  /* background-color: #d83030; */
  border-radius: 10px;
 }
 .counter-section
 {
   margin-top:50px;
   background: #ECE9E6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #d6dcdd, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border: 1px  #CCC solid;
   box-shadow:  inset 0px 11px 8px -10px #bbb,   inset 0px -11px 8px -10px #bbb 
  
 }
 .counter-area img
 {
   width:80px;
 }
 .counter-number
 {
   font-size:20px;
   font-weight:700;
 }
 /**call for action **/
 .callforaction
 {
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bdc3c7, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


padding:70px;  
  
 }
 /**contact section **/
 .contact
 {
    
   padding:70px;
 }
 input[type=submit] {
  padding: 14px 35px;
  margin: 30px 0 0;
  color: #fff;
  background-color: #d83030;
}
.locdetails
{
  background-color: #33383e;
    background-image: url("../Images/Pages/contactbg.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    height:640px;
    padding:50px;
    color:white;
}
.icon-holder
{
  background-color:#d83030;
  height: 40px;
  width: 40px;
  transform: rotate(0deg);
border-radius:100%;
}
.fa-map-marker,.fa-phone-alt,.fa-envelope
{
  color:white;
  padding: 14px;
  font-size: 16px;
}
.color-yellow
{
  background-color:#f3a712 !important;
}
.color-blue
{
  background-color: #235789  !important;
}
.greyfont
{
  color:#bbb;
}
.blackfont
{
  color:#333;
}
.contact-map
{
height:400px;
}
 /****solar division***/
/* .solarsection
{
  padding:70px;
} */
 .solar-heading
 {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: left;
  color:#333;
  font-family: Fira Sans;
  font-style: normal !important;
  font-weight: 700;
 }
 .solar-desc
 {
  font-size: 16px;
  line-height: 37px !important;
   
  text-align: left;
  color:#464646;
  line-height:2rem;
 }
 .solarimg
 {
   height:400px;
   width:710px;
 }
 .divlists
 {
   list-style: none;
 }
 .divlists li
 {
  display: block;
  position: relative;
  list-style: none;
  margin: 0 0 9px 0;
  padding: 0;
 }
 
 .divlists li a
 {
   text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #032e42;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #e6e6e6;
  position: relative;
    display: block;
    margin: 0;
    padding: 14px 22px;
    border: 2px solid #e6e6e6;
 }
  
 .divlists li:hover a {
  /* background-color: #d83030;
  color: #fff;
  border-color: #d83030; */
   
  background-color: #e89999;
  color: #fff;
  border-color: #e89999;
  }
  .divlists   li .active{
    background-color: #e89999;
    color: #fff;
    border-color: #e89999;
    }
  .divlists li a:before {
    content: '\f054';
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 19px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-style: normal;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .callusbox
  {
    background-color: #2d2d2f;
    background-image: url(../Images/Divisions/service-single-contactbox.jpg);
    background-position: center center;
    background-size: cover;
    padding:25px;
  }
  .infobox
  {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom:22px;
  }
  .infobox-content
  {
    color:white;
    flex-direction: column;
    text-align: center;
  }
  .info-box-title
  {
    font-size: 21px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align:center;
  }
  .info-box-no
  {
    color: #f3a712 !important;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    text-align:center;
  }
  .infobox-content a
  {
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    color:white;
    text-align:center;
  }
.div-nav-tabs ul
  {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
  }
  .div-nav-tabs ul li
  {
    /* padding: 10px 20px; */
    margin: 0;
    border-style: solid;
    border-width: 0;
    
    font-weight: 700;
    color: #032e42;
}
.nav-link{
  color:#383838 !important;
}
 
  .nav-tabs .nav-link.active  { 
    
    background-color: #d83030 !important;
    color: #fff !important;
    border-color: #d83030 !important;
    }
    .tab-content .active
    {
      color:#383838  !important;
    }
    .card-body h5,.card-body p
    {
      color:#383838 !important;
    }
    /***tfm section ***/
    .tfmimg1
    {
      width:350px;
    }
    .tfmimg2
    {
      width:100%;
      height:410px
    }
    .table-dark {
 
      color: #fff;
     
        background-color: rgb(0, 36, 60)
     
    }
    .table-bordered td, .table-bordered th 
    {
      border: 1px solid #bbb !important;
    }
    /***SYSTEM Integration **/
    .system-area .slick-slide img{
      width:400px !important;
    }
    .system-area h4{
      font-size:1.25rem !important;
      color:rgb(232, 153, 153);
    }
    .profile
    {
      padding:0px 20px;
    }
    /***team section****/
    .single-team{
      box-shadow:0px 7px 7px 2px rgba(0,0,0,0.1);
        background-color: white;
        margin-bottom: 10px;
    }
    .img-area{
      overflow: hidden;
      position: relative;
  }
  .img-area img{
      width: 100%;
      text-align: center;
  }
  .img-area:hover img{
      transform: scale(1.2);
  }
  .img-area img{
      transition: all 0.4s ease 0s;
  }
  .img-area .desc  {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
   padding:10px;
   font-size:15px;
}
.single-team:hover .desc  {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
  color:#fff;
}
.img-text{
  padding: 20px;
  color: black;
  text-align: center;
}
.img-text h4{
  margin: 0 0 5px;
  font-size: 18px;
  
  
}
.img-text h5{
  font-size: 15px;
  color: #545154

}
.tab-pane img{
  width: 100%;
  height: 60%;
}
/***media queries****/
@media (max-width: 575px){
  /**banne section **/
  .banner-content{
    width:100%;
  }
  .img-content img {
   
    height: 45vh !important;
     
}
  .banner-content h1{
    font-size:37px !important;
    line-height:50px;
    text-align: center !important;
  }
  /**about section **/
  .about1
{
  padding-top:15px;
   
  margin-bottom:10px;
}
  .abttitle
  {
    width:100%;
  }
  .abttitle h2
  {
    font-size:1.05rem;
    font-weight:600;
  }
  .about-content
  {
    padding-top:15px;
    margin:0;
  }
   .containersection
  .title-desc
  {
    font-size:16px !important;
  }
  .containersection
{
  padding:20px;
  margin-top:20px;
}
.containersection img
{
  width:100%;
}
 
 .sub-title span{
   padding-top:10px;
 };
 
 .divider{
   padding:10px 0px 10px 0px;
 }
 
 
hr {
    background-color: #bb0b0b;
    height: 1px;
    border: 0;
}
/***call for action  ***/
.callforaction
{
  padding: 40px 0px 40px 0px;
}
.callforaction h3
{
  font-size:1.15rem;
  font-weight: 500;
}
a.gtouch {
  /* other styles */
  display: block;
  width:150px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
}
.imgservice img{
  width:70px;
  height:70px;
  padding-left:20px;
}
/***services section ***/
.servicessection 
{
  padding: 20px 0px 20px 0px;
}
.servicessection .title-desc
{
  font-size:15px;
}
.title-heading
  {
    font-size:1.05rem;
    font-weight:600;
  }
  .services-section {
    padding: 20px 0px 0px 0px;
}
.list-icon .img1 {
  width: 70px;
  padding:15px;
}
.list-icon .img2 {
  width: 64px;
  padding: 11px 10px 10px 15px
  /* padding: 13px 14px 10px 17px; */
}
.list-description 
{
  font-size: 14px;
    text-align: justify;
}
.fa-parking {
  font-size: 30px;
  padding: 18px;
}
.bparking
{
  top:37%;
}
/***team section ***/
.borderclass
{
  width:85%;
  margin:auto;
  margin-bottom:20px !important;
}
.borderclass img
{
  padding:10px;
  height:175px;
}
.team-position
{
  font-size:14px;
}
.share-icon span
{
  right:38px;
}
.team-social1
{
  bottom:201px;
  right:41px;
}
.team{
  padding:0px;
}
/***footer**/
.subscribe p
{
font-size:11px;
}
/***division pages**/
 .divlists
 {
   padding-top:20px;
 }
.divlists li a 
{
  font-size:15px;
}
.divlists li a:before
{
  margin-right:10px;
}
.servicebanner .img-content img{
height:35vh;
}
.servicebanner  .banner-content
{
  top:37%;
}
.services {
  padding: 20px 0px 10px 0px;
}
.services .title-desc 
{
  font-size:15px;

}
.sub-title span:after 
{
  top:65%;
}

/**service.html**/

/***contact.html**/
.contact{padding:0px;}
.locdetails
{
  padding:20px;
  height:720px;
}
.icon-holder
{
  margin:auto;
}
.locdetails p {
  text-align:center;
};
input [type="submit"]
{
 margin:20px 0px 20px 0px;
}

/**system Integration page**/
.system-area .slick-slide img
{
  width:100% !important ;
}
.system-area h4
{
  font-size:1.05rem !important;
}
/**solar page**/
.solarimg 
{
  width:100%;
  height:100% !important;
  padding-bottom:20px;
}
.nav-tabs .nav-item{
  width: 31%;
  padding:6px;
}
.nav-tabs .nav-link{
  font-size:12px;

}
.tab-pane img{
  width:100%;
  height:60%;
}

/***tfm page***/
.tfmimg1
{
  padding-top:20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991.98px)
{
  /**about us page**/
  .about1
  {
    margin-top:10px;
    padding:0px;
  }  
  .img-content img
  {
    height:45vh;
  }
  .about-content img{
    padding-left:80px;
    padding-top:20px;
  }
  .containersection img
  {
  height:500px;
  width:580px;
  }
  .top-bar::before {
  width:70%;
  }
  .social-icons li 
  {
    padding-right:0px !important;
  }
  .containersection p {
     
    font-size: 18px;
}
 
.callforaction
{
padding:30px;
}
.callforaction h3
{
  font-size:1.6rem;
  font-weight:600;
}
.servicessection
{
  padding: 50px 0px 50px 0px
}
.servicessection .title-desc
{
  font-size:20px;
}
.list-description
{
  font-size:13px;
}
.borderclass img 
{
  height:155px;
}
.team-name
{
  font-size:14px;

}
.team-position{
  font-size:12px;
  font-weight:500;
}
.share-icon span{
  top: 133px;
  right: 10px;
}
.team-social1
{
  right:8px;
}
.circle
{
  width:166px;
}
.desc
{
  font-size:14px;
}
.teambanner{
top:40%;
}
.divlists li a 
{
  font-size: 13px;
  padding:14px 2px;
}
.divlists li a:before {
  margin-right: -1px;
}
.info-box-title
{
  font-size:17px;
}
.info-box-no
{
  font-size:14px;
}
.system-area .slick-slide img{
  width:320px!important;
}

 
.system-area h4 {
  font-size:1.05rem !important;
}
}
/***mobile portrait mode**/
@media (max-width: 767px) {

  .nav-link
  {
    padding:0px !important;
  }
  .about1  {
    padding-top:0px;
  }
  .imgservice span{
    font-size:14px;
  };
  .title-heading
  {
    font-size:1.5rem !important;
  }
  .callforaction
  {
    padding:35px;
  }
  .callforaction h3
  {
    font-size:1.25rem;
  }
  .servicessection
  {
    padding: 20px 0px 20px 0px
  }
  .services-section
  {
    padding: 20px 0px 0px 0px
  }
  .borderclass
  {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
  }
  .borderclass img{
height: 220px;
padding:20px;
  }
  .share-icon span
  {
    top:177px;
    right:155px;
  }
  .team-social1
  {
    bottom:295px;
    right: 157px;
  }
  .nav-tabs .nav-link
  {
    font-size:14px;
  }
  .div-nav-tabs ul li
  {
    padding:10px 10px;
  }
  .system-area .slick-slide img{
    width:250px!important;
  }
  
   
  .system-area h4 {
    font-size:0.75rem !important;
  }
}
